---
import Section from "../Section.astro";
import { certificates } from "@cv";
---

<Section title="Certificados" translationKey="sections.certificates">
  <ul class="flex flex-col gap-4">
    {
      certificates.map(({ name, issuer, summary }, index) => {
        return (
          <li>
            <article class="item-card">
              <header>
                <h3 class="item-title">{name}</h3>
                <p class="item-subtitle mt-2 text-base font-semibold">{issuer}</p>
              </header>
              <footer>
                <p class="item-copy" data-i18n={`certificates.items.${index}.summary`}>{summary}</p>
              </footer>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>
