---
import Section from "../Section.astro";
import { certificates } from "@cv";
---

<Section title="Certificados" translationKey="sections.certificates">
  <ul class="flex flex-col gap-4">
    {
      certificates.map(({ name, issuer, summary }, index) => {
        return (
          <li class="ds-card p-5">
            <article>
              <header class="flex">
                <div>
                  <h3 class="ds-item-title text-lg">{name}</h3>
                  <p class="ds-item-meta mt-1 text-sm">{issuer}</p>
                </div>
              </header>
              <footer>
                <p class="ds-copy mt-3 text-sm" data-i18n={`certificates.items.${index}.summary`}>{summary}</p>
              </footer>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>
