---
import Layout from "@/layouts/Layout.astro";

import Certificates from "@/components/sections/Certificates.astro";
import Courses from "@/components/sections/Courses.astro";
import Education from "@/components/sections/Education.astro";
import Experience from "@/components/sections/Experience.astro";
import Hero from "@/components/sections/Hero.astro";
import Interests from "@/components/sections/Interests.astro";
import Languages from "@/components/sections/Languages.astro";
import Profile from "@/components/sections/Profile.astro";
import Skills from "@/components/sections/Skills.astro";

import { basics } from "@cv";
const { shortName } = basics;
---

<Layout title={`${shortName} | Curriculum Vitae`}>
  <main class="px-4 py-8 md:px-8 lg:px-12">
    <Hero />
    <Profile />
    <Experience />
    <Skills />
    <Education />
    <Certificates />
    <Courses />
    <Languages />
    <Interests />
  </main>
</Layout>
