---
interface Props {
  title?: string;
  translationKey?: string;
}

const { title, translationKey } = Astro.props;
---

<section class="ds-section mt-4 first:mt-0">
  {
    title && (
      <h2 class="ds-heading" data-i18n={translationKey}>
        {title}
      </h2>
    )
  }
  <slot />
</section>
