---
interface Props {
  title?: string;
  translationKey?: string;
  className?: string;
}

const { title, translationKey, className = "" } = Astro.props;
---

<section class={`mx-auto mt-8 max-w-5xl ${className}`}>
  {
    title && (
      <h2
        class="mb-5 text-2xl font-semibold tracking-tight text-slate-900 dark:text-white md:text-3xl font-sans"
        data-i18n={translationKey}
      >
        {title}
      </h2>
    )
  }
  <slot />
</section>
