---
interface Props {
  title?: string;
  translationKey?: string;
  id?: string;
}

const { title, translationKey, id } = Astro.props;
---

<section id={id} class="m-auto mt-2 max-w-4xl scroll-mt-24">
  {
    title && (
      <h2
        class="font-bold mt-8 text-3xl font-sans"
        data-i18n={translationKey}
      >
        {title}
      </h2>
    )
  }
  <slot />
</section>
