---
interface Props {
  title?: string;
  translationKey?: string;
  className?: string;
}

const { title, translationKey, className = "" } = Astro.props;
---

<section class={`mx-auto mt-6 max-w-6xl ${className}`}>
  {
    title && (
      <div class="mb-5 flex items-end justify-between gap-4">
        <h2
          class="font-bold text-3xl tracking-tight text-slate-900 dark:text-white font-sans md:text-4xl"
          data-i18n={translationKey}
        >
          {title}
        </h2>
      </div>
    )
  }
  <slot />
</section>
